:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Genty";
  src: url("/fonts/GentyDemo-Regular.otf") format("opentype"),
    url("/fonts/GentyDemo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arvo";
  src: url("/fonts/Arvo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arvo";
  src: url("/fonts/Arvo-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arvo";
  src: url("/fonts/Arvo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Arvo";
  src: url("/fonts/Arvo-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Arvo", Arial, Helvetica, sans-serif;
  p {
    font-size: 20px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  padding: 0 22px;
  width: 100%;
}

h1 {
  margin: 36px auto 16px auto;
  text-align: center;
  font-family: "Genty", sans-serif;
  font-size: 72px;
  font-weight: 400;
}
