.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.gridItem {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.gridItem {
  width: 100%;
  height: 350px; /* Set a fixed height for all images */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridItem:hover .image {
  transform: scale(1.015);
  transition: transform 0.5s ease-in-out;
}
