.gallery {
  padding: 2rem;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; /* Prevents content from spilling out */
}
.container {
  width: 100%;
  max-width: 1200px;
}

:global(.react-photo-album--image) {
  width: 100% !important;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
