.faqItem {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--background-color);
}

.question {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.answer {
  font-size: 1em;
  line-height: 1.5;
}
